html, body, p {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 48px;
    text-align: center;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 28px;
    text-align: center;
    margin: 0;
    padding: 0;
}

p, label {
    font-size: 16px;
}

.center {
    text-align: center;
}

.container {
    background-image: url('https://id-72.pslib.cloud/uploads/therecure.webp');
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    min-height: 100vh;
    gap: 20px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gambba_propagule {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
    background-color: rgba(0, 0, 0, .8);
}

.propagules {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80vw;
    padding: 20px;
}

.wager_form {
    display: flex;
    align-items: center;
    gap: 8px;
}

.wager_input {
    font-size: 16px;
    padding: 12px;
    max-width: 200px;
    cursor: pointer;
    background-color: #555555;
    color: #FFFFFF;
    border: none;
    border-radius: 2299968px;
}

.wager_input:hover {
    background-color: #464646;
}

.text_div {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.winamount {
    color: green;
}

.loseamount {
    color: red;
}

.gamble_time {
    text-align: center;
    font-size: 16px;
    margin-top: 40px;
    padding: 12px;
    cursor: pointer;
    background-color: #555555;
    color: #FFFFFF;
    border: none;
    border-radius: 2299968px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gamble_time:hover {
    background-color: #464646;
    color: #FFE77B;
}

.btns {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 0;
    margin: 20px 0 220px 0;
}

@media (min-width: 768px) {

    h2 {
        font-size: 72px;
        padding: 20px 0 0 0;
        padding: 0;
    }

    h3 {
        font-size: 36px;
    }

    p, label {
        font-size: 20px;
    }

    .wager_input {
        font-size: 20px;
        padding: 16px;
        min-width: 200px;
        cursor: pointer;
        background-color: #555555;
        color: #FFFFFF;
        border: none;
        border-radius: 2299968px;
    }

    .gamble_time {
        font-size: 20px;
        padding: 16px;
        cursor: pointer;
        background-color: #555555;
        color: #FFFFFF;
        border: none;
        border-radius: 100px;
    }

    .btns {
        margin-bottom: 70px;
    }
}
