
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    text-align: center;
    font-size: 48px;
    margin: 20px 0;
    padding: 0;
    color: white;
}

.container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.thecontainerwithin { /* not ominous at all */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding-top: 20px;
    background-color: rgba(0, 0, 0, .5);
}

.inv_title_propagules {
    width: 90vw;
    background-color: rgba(0, 0, 0, .5);
}

.img {
    aspect-ratio: 1/1;
}

.item_list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
    width: 90vw;
}

.item {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    width: calc(50% - 10px);
    background-color: black;
}

.item_info {
    padding: 10px;
}

.item_info h2, .item_info p {
    font-size: 16px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.buy_btn {
    font-size: 16px;
    background-color: #555555;
    border-radius: 0;
    border: none;
}

.buy_btn:hover {
    background-color: #464646;
    color: #FFE77B;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: auto;
}

.backbeans {
    padding: 20px 0;
}

.player_stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    width: 100%;
    max-width: 100vw;
    height: 100px;
    background-color: gainsboro;
}

.player_stats_money {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    background-color: white;
}

.player_stats_money p {
    font-size: 20px;
    text-align: center;
    color: black;
}

.player_stats_inv {
    width: 100%;
    height: 50%;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    border: none;
    border-radius: 0;
    padding: 0;
    color: black;
    background-color: white;
}

.player_stats_inv:hover {
    background-color: gainsboro;
}

@media (min-width: 768px) {

    h1 {
        font-size: 72px;
        margin: 40px 0;
    }

    .item_list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .item {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 100%;
        background-color: black;
    }

    .item_info h2, .item_info p {
        font-size: 20px;
    }

    .buy_btn {
        font-size: 20px;
    }

    .player_stats {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1px;
        width: 100%;
        height: 50px;
    }

    .player_stats_money {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        font-size: 24px;
        text-align: center;
        color: black;
        background-color: white;
    }

    .player_stats_money p {
        font-size: 24px;
    }

    .player_stats_inv {
        width: 50%;
        height: 100%;
        font-size: 24px;
    }
}
