
html, body, p {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 48px;
    text-align: center;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 28px;
    text-align: center;
    margin: 0;
    padding: 0;
}

p {
    font-size: 16px;
}

.center {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    min-height: 100vh;
    gap: 20px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 32px;
}

.location_propagules {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80vw;
    background-color: rgba(0, 0, 0, .6);
    margin-top: 20px;
    padding: 20px;
}

.list_list_list_list_list_list_list_list_list {
    margin-top: 20px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.object {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    width: 100px;
    height: 100px;
    aspect-ratio: 1/1;
    background-color: white;
    margin-bottom: 5px;
    cursor: pointer;
}

.btns {
    display: flex;
    gap: 10px;
    margin: 20px 0 220px 0;
}

@media (min-width: 768px) {

    h2 {
        font-size: 72px;
        padding: 20px 0 0 0;
        padding: 0;
    }

    h3 {
        font-size: 36px;
    }

    p {
        font-size: 20px;
    }

    .location_propagules {
        margin-top: 200px;
    }

    .btns {
        margin-bottom: 70px;
    }
}
