html, body, p {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 48px;
    text-align: center;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 28px;
    text-align: center;
    margin: 0;
    padding: 0;
}

p {
    font-size: 16px;
}

.center {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    min-height: 100vh;
    gap: 20px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 32px;
}

.location_propagules {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80vw;
    background-color: rgba(0, 0, 0, .7);
    margin-top: 20px;
    padding: 20px;
}

.list_list_list_list_list_list_list_list_list {
    margin-top: 20px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.object {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    width: 100px;
    height: 100px;
    aspect-ratio: 1/1;
    background-color: white;
    margin-bottom: 5px;
    cursor: pointer;
}

.img_noclick {
    width: 100px;
    height: 100px;
    aspect-ratio: 1/1;
    background-color: white;
    margin-bottom: 5px;
}

.btns {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 0;
    margin: 20px 0 220px 0;
}

.end_btn {
    text-align: center;
    font-size: 20px;
    padding: 16px 24px;
    cursor: pointer;
    background-color: #555555;
    color: #FFFFFF;
    border: none;
    border-radius: 2299968px;
    margin-top: 40px;
}

.end_btn:hover {
    background-color: #464646;
    color: #FFE77B;
}

@media (min-width: 768px) {

    h2 {
        font-size: 72px;
        padding: 20px 0 0 0;
        padding: 0;
    }

    h3 {
        font-size: 36px;
    }

    p {
        font-size: 20px;
    }

    .btns {
        margin-bottom: 70px;
    }

    .end_btn {
        font-size: 24px;
        padding: 20px 28px;
        cursor: pointer;
        background-color: #555555;
        color: #FFFFFF;
        border: none;
        border-radius: 100px;
    }
}
